@page
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<base href="/" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="/Package/style" />
</head>

<body oncontextmenu="return false">
	<app-root></app-root>

	<script src="/Package/runtime" defer></script>
	<script src="/Package/polyfills" defer></script>
	<script src="/Package/main" defer></script>
</body>
</html>
